<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>estudiantes</title>
</head>
<body>
    <style>
        .nav {
            display:flex;
            background-color: gray;
            margin: 1rem;
            padding: 1rem;
            justify-content: space-between;
            font-size: 1.1rem;
        }
      </style>
       <nav class="nav">
        <a href="/">Home</a>
        <a href="/estudiantes">Estudiantes</a>
        <a href="/estudiantes/crear">nuevo estudiante</a>
      </nav>
      <header style="display: flex; gap: 1.5rem">
          <h1>Lista de estudiantes</h1>
           <a style="background-color: cornflowerblue;color:white; margin: 1rem; padding: 1rem; border: 1px solid black; border-radius: 15px; text-decoration: none;" href="/estudiantes/crear">Agregar ➕</a> 
      </header>

    <% for(var i = 0; i < estudiantes.length; i++) { %>
        <li>
            <div style="margin: 1rem; padding: 1rem; border: 1px solid black; border-radius: 5px;">
                <p>ID: <%= estudiantes[i].id %></p>
                <p>
                    <%= estudiantes[i].nombre %> <%= estudiantes[i].apellido %>
                </p>
                <p>Edad: <%= estudiantes[i].edad %></p>
            </div>
        </li>
      <% } %>
</body>
</html>