<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index [estudiantes]</title>
  </head>
  <body>
    <style>
      .nav {
          display:flex;
          background-color: gray;
          margin: 1rem;
          padding: 1rem;
          justify-content: space-between;
          font-size: 1.1rem;
      }
    </style>
    <main>
      <h1>Pagina principal desde plantilla 😄</h1>
      <nav class="nav">
        <a href="/">Home</a>
        <a href="/estudiantes">Estudiantes</a>
        <a href="/estudiantes/crear">nuevo estudiante</a>
      </nav>
    </main>
  </body>
</html>
